body, html {
    background-color:#212533;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 50px;
}

h1 {
    color: #cacfcd;
}

.form-section {
    margin: 20px;
}

input[type="number"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #201c24;
    border-radius: 4px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: #201c24;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

.result-section {
    margin-top: 20px;
}

.result-section p {
    font-size: 18px;
    color: #cacfcd;
}
a {
    text-decoration: none;
}
/* GitHub Link Button Styles */
.github-link-button {
   position: absolute;
   color: #cacfcd;
   top: 10px;
   right: 10px;
   display: inline-block;
   background-color: #201c24;
   padding: 10px;
   border-radius: 5px;
   border: 2px solid #cacfcd;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   transition: 0.3s;
}

.github-link-button:hover {
   border-color: #ffffff;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}