
body, html {
    background-color:#212533;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 50px;
}

h1 {
    color: #cacfcd;
}

.form-section {
    margin: 20px;
}

input[type="number"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #201c24;
    border-radius: 4px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: #201c24;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}

.result-section {
    margin-top: 20px;
}

.result-section p {
    font-size: 18px;
    color: #cacfcd;
}
